[Unit]
Description=Node Exporter Server
After=network.target

[Service]
WorkingDirectory=/var/lib/prometheus/node_exporter
PermissionsStartOnly=true
ExecStartPre=/bin/chown -R prometheus:prometheus /var/lib/prometheus/node_exporter
User=prometheus
ExecStart=/var/lib/prometheus/node_exporter/node_exporter
ExectStop=/usr/bin/kill -9 $(pidof node_exporter)

Restart=always
[Install]
WantedBy=multi-user.target
